<!doctype html>
<html>
  <head>
    <title>About <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=shopData.shopName%></h1>
    <p>We sell:</p>
    <div>
      <span>
        Laptops • Phones • Cameras • Computers • Desktops
      </span>
    </div>
    <div class="image-fade-container">
      <!-- Laptops -->
      <img src="/images/laptop.png" alt="Laptops" class="fade-image image-laptops" />
      <!-- Phones -->
      <img src="/images/phone.png" alt="Phones" class="fade-image image-phones" />
      <!-- Cameras -->
      <img src="/images/camera.png" alt="Cameras" class="fade-image image-cameras" />
      <!-- Computers -->
      <img src="/images/computer.png" alt="Computers" class="fade-image image-computers" />
      <!-- Desktops -->
      <img src="/images/desktop.png" alt="Desktops" class="fade-image image-desktops" />
    </div>
  </body>
</html>