<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopData.shopName%></h1>
    <p><a href="../about">About <%=shopData.shopName%></a></p>
    <p><a href="../products">Search for a product on the web</a></p>
    <p><a href="../products/search">Search for products in our collection</a></p>
    <p><a href="../products/add_product">Add a new product</a></p>
    <p><a href="../products/list">List products</a></p>
    <p><a href="./list">List users</a></p>
    <p><a href="../products/bargain_products">Bargain products</a></p>
    <p><a href="./register">Register with us</a></p>
    <p><a href="/">Login to your account</a></p>
    <p><a href="/">Logout</a></p>
  </body>
</html>
